/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* ~~~~~~~~~~~~~~~CSS for About Page ~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#about_body {
    background: none;
    background-color: #008080;
    color: #010081;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

#about_body header {
    text-align: center;
    margin: auto;
}

#back_button {
    position: absolute;
    top: 10px;
    left: 10px;
}

h1 {
    font-size: 3em;
}

#about_body main {
    width: 70%;
    margin: auto;
    padding: 15px;
}

#about_body footer {
    justify-content: center;
}

main {
    display: flex;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

section {
    display: flex;
    flex-direction: column;
}

#section_left {
   flex: 1;
}

#section_right {
    flex: 1;
}

#about_basic {
    display: flex;
    flex-direction: row;
}

#about_left {
    flex: 1;
    margin-right: 15px;
}

#about_right {
    flex: 1;
}

.window {
    background-color: #fdffff;
    margin: 15px;
    padding: 10px;
}

#section_right ul {
    border: 1px solid #ccc;
    padding-left: 15px;
    height: 100px;
    overflow: auto;
}

#change_log {
    list-style-type: "\2714";
}

#todo_list {
    list-style-type: "\2610";
}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/nature/nat-11/nat1027.ani), url(https://cur.cursors-4u.net/nature/nat-11/nat1027.gif), auto !important;} /* End https://www.cursors-4u.com */