/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* ~~~~~~~~~~~~~~~CSS for About Page ~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#about_body {
    background: none;
    background-color: #008080;
    color: #010081;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

#about_body header {
    text-align: center;
    margin: auto;
}

#about_body main {
    width: 70%;
    margin: auto;
    padding: 15px;
}

#about_body footer {
    justify-content: center;
}

main {
    display: flex;
}

section {
    display: flex;
    flex-direction: column;
}

#section_left {
   flex: 1;
}

#section_right {
    flex: 1;
}

#about_basic {
    display: flex;
    flex-direction: row;
}

#about_left {
    flex: 1;
}

#about_right {
    flex: 1;
}

.window {
    background-color: #fdffff;
    margin: 15px;
    padding: 10px;
}