/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* ~~~~~~~~~~~~~~~CSS for About Page ~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#about_body {
    background: none;
    background-color: #AFB8F8;
}

#about_body header {
    text-align: center;
    margin: auto;
}

#about_body main {
    background-color: white;
    width: 85%;
    margin: auto;
    padding: 15px;
    border-style: dotted;
}

#about_body footer {
    justify-content: center;
}

div {
    border-style: dashed;
}

main {
    display: flex;
    flex-direction: row;
}