/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* ~~~~~~~~~~~~~~CSS for Journal Page ~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@font-face {
    font-family: Amaken;
    src: url("../static/Amakan-Strips.woff") format("woff");
}

h1, h2 {
    font-family: Amaken;
    color: #DB4E1B;
}

h1 {
    text-align: center;
}

body {
    background-image: url("../images/journal-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

main {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

article {
    border-bottom: black dotted;
    margin: auto;
    padding: 15px;
}

.blog_content {
    height: 400px;
    overflow: auto;
    width: 50%;
    background-image: url('../images/paper-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}