/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* ~~~~~~~~~~~~~~CSS for Journal Page ~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

main {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

article {
    border-bottom: black dotted;
    background-color: white;
    margin: auto;
    padding: 15px;
}

.blog_content {
    height: 400px;
    overflow: auto;
    width: 50%;
}