header {
    display: flex;
    justify-content: center;
}

#home_main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home_row {
    display: flex;
    justify-content: center;
}

.home_nav {
    width: fit-content;
    height: fit-content;
    display: inline-block;
    position: relative;
}

/* Credit for text hover in home nav: https://ribo.zone/free/snippets/ */

.home_nav span {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    font-size: 2.5rem;
    color: #FFF;
    filter: drop-shadow(1px 1px 0 black) 
    drop-shadow(-1px 1px 0 black)
    drop-shadow(1px -1px 0 black)
    drop-shadow(-1px -1px 0 black);
}

.home_nav:hover span, .home_nav:focus span {
    opacity: 1;
  }
  .home_nav:hover img, .home_nav:focus img {
    /* add hover effects like transform or filter to your images here! */
  }

/* CSS for About Page */
#about_body {
    background-color: #AFB8F8;
}

#about_body header {
    text-align: center;
    margin: auto;
}

#about_body main {
    background-color: white;
    width: 60%;
    margin: auto;
    padding: 15px;
    border-style: dotted;
}

#about_body footer {
    justify-content: center;
}