/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* ~~~~~~~~~~~~~CSS for Main Home Page~~~~~~~~~~~~~ */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
header {
    display: flex;
    justify-content: center;
    margin: 75px 0px;
}

header img {
    margin: 0px 10px;
}

#home_main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home_row {
    display: flex;
    justify-content: center;
}

.home_nav {
    width: fit-content;
    height: fit-content;
    display: inline-block;
    position: relative;
}

/* SSQUIGGLE Letters Animation */
#header_s {
    position: relative;
    animation-name: header_s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes header_s {
    0% { top: 0px; }
    25% { top: -50px; }
    75% { top: 50px; }
    100% { top: 0px; }
}

#header_q {
    position: relative;
    animation-name: header_q;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes header_q {
    50% { transform: rotate(360deg); }
}

#header_l {
    position: relative;
    animation-name: header_l;
    animation-duration: .5s;
    animation-iteration-count: infinite;
}

@keyframes header_l {
    0% { top: 0px; left: 0px; }
    25% { top: -20px; left: 0px; }
    50% { top: 0px; left: 20px; }
    75% { top: 20px; left: 0px; }
    90% { top: 0px; left: -20px; }
    100% { top: -20px; left: 0px; }
}

/* Home Page Gradient Background */
/* Code credit: https://manuel.pinto.dev */
body {
	background: linear-gradient(-45deg, #dcb5ff, #ffb7b5, #d8ffb5, #b6fdff, #dcb5ff, #ffb7b5, #d8ffb5, #b6fdff);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/* Credit for text hover in home nav: https://ribo.zone/free/snippets/ */
.home_nav span {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    font-size: 2.5rem;
    color: #FFF;
    filter: drop-shadow(1px 1px 0 black) 
    drop-shadow(-1px 1px 0 black)
    drop-shadow(1px -1px 0 black)
    drop-shadow(-1px -1px 0 black);
}

.home_nav:hover span, .home_nav:focus span {
    opacity: 1;
  }
  .home_nav:hover img, .home_nav:focus img {
    /* add hover effects like transform or filter to your images here! */
  }
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* ~~~~~~~~~~~~~~~CSS for About Page ~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#about_body {
    background: none;
    background-color: #AFB8F8;
}

#about_body header {
    text-align: center;
    margin: auto;
}

#about_body main {
    background-color: white;
    width: 60%;
    margin: auto;
    padding: 15px;
    border-style: dotted;
}

#about_body footer {
    justify-content: center;
}